body {
  padding: 0%;
  margin: 0;
  height: 100vh;
  width: 100vw;
  
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Helvetica, Arial, sans-serif;
  
  background-color: sandybrown;
  color: #EEEEEE;

  
  /* background-image: url(https://source.unsplash.com/random/3000×1500/?city,landscape); */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  height: 300px;
  width: 900px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.quote {
  font-size:xx-large;
}